html, body
  height: 100%
  width: 100%
  min-height: 300px
  min-width: 300px
  background-color: #ECECEC

/* Padding for the main content */
#topMenu
  width: 100%
  height: 15%

md-toolbar
  .md-input-focused
    label
      /* Override blending */
      color: rgba(0,0,0,0.38) !important

#gameContainer
  background: #FFFFFF
  height: 80%
  width: 80%
  /* TODO shouldn't have to be explicit here */
  min-height: 520px
  margin: auto
  margin-top: 70px
  margin-bottom: 70px
  overflow: hidden

  #topRow
    .padTop
      width: 85px
      text-align: center
      button
        width: 50px
        min-width: 50px
      #curScore
        font-weight: bold
        font-size: 36px
        color: #DD5555

  .buttonContainer
    background-color: #123456
    text-align: center
    padding: 10px
    .letterButton
      height: 20px
      width: 50px
      min-width: 50px


  #gameBoardContainer
    margin-bottom: 20px
    #gameBoard
      position: relative

      letter
        width: 50px
        height: 50px
        cursor: default
        text-transform: uppercase
        -webkit-user-select: none; /* Chrome/Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */

        /* Rules below not implemented in browsers yet */
        -o-user-select: none;
        user-select: none;


