html, body
  height: 100%
  width: 100%
  min-height: 300px
  min-width: 300px
  background-color: #ECECEC
  overflow: hidden

/* Padding for the main content */
#topMenu
  width: 100%
  height: 15%


md-toolbar
  .md-input-focused
    label
      /* Override blending */
      color: rgba(0,0,0,0.38) !important

#gameContainer
  background: #FFFFFF
  height: 80%
  width: 80%
  margin: auto
  margin-top: 70px
  overflow: hidden

  #topButtons
    height: 75px
    width: 80%
    margin: auto
  #leftButtons
    width: 75px
    height: 80%
  #rightButtons
    width: 75px
    height: 80%
  .buttonContainer
    background-color: #123456

  #gameBoardContainer
    margin-bottom: 20px

