<div id="gameContainer">
  <div id="topButtons" class="buttonContainer"> 
    <md-button ng-repeat="letter in topLetters" ng-click="letterPressed(letter)">
      {{letter}}
    </md-button>
  
  </div>
  <div layout="row" layout-align="space-between center">
    <div id="rightButtons" class="buttonContainer">
      ok
    </div>
    <div id="gameBoardContainer">
      <div id="gameBoard">
        hello world
      </div>
    </div>
    <div id="leftButtons" class="buttonContainer">
      ok
    </div>
  </div>
</div>
