<div id="gameContainer">
  <div id="topButtons" class="buttonContainer"> 
    <md-button class="letterButton" ng-repeat="letter in topLetters" 
               ng-click="letterPressed(letter, 'top')">
      {{letter}}
    </md-button>
  </div>
  <div layout="row" layout-align="space-between start">
    <div id="rightButtons" class="buttonContainer" layout="column">
      <md-button class="letterButton" ng-repeat="letter in leftLetters" 
                 ng-click="letterPressed(letter, 'left')">
        {{letter}}
      </md-button>
    </div>
    <div id="gameBoardContainer">
      <div id="gameBoard">
        <letter ng-repeat="gameLetter in game.gameLetters track by $index" 
                letter-info="gameLetter"></letter>
      </div>
      {{positionBoard()}}
    </div>
    <div id="leftButtons" class="buttonContainer" layout="column">
      <md-button class="letterButton" ng-repeat="letter in rightLetters" 
                 ng-click="letterPressed(letter, 'right')">
        {{letter}}
      </md-button>
    </div>
  </div>
</div>
