<div id="gameContainer">
  <div id="topRow" layout="row" layout-align="start center">
    <div class="padTop">
      <md-button ng-click="undo()">
        <md-icon class="material-icons"> undo </md-icon>
      </md-button>
    </div>
    <div flex id="topButtons" class="buttonContainer"> 
      <md-button class="letterButton" ng-repeat="letter in topLetters track by $index" 
                 ng-click="letterPressed($index, 'up')">
        {{letter}}
      </md-button>
    </div>
    <div class="padTop">
    </div>
  </div>
  <div layout="row" layout-align="space-between start">
    <div id="rightButtons" class="buttonContainer" layout="column">
      <md-button class="letterButton" ng-repeat="letter in leftLetters track by $index" 
                 ng-click="letterPressed($index, 'left')">
        {{letter}}
      </md-button>
    </div>
    <div id="gameBoardContainer">
      <div id="gameBoard">
        <!-- NOTE tracking by index does not work with unshifting
                  it simply repeats the last element in the array -->
        <letter ng-repeat="gameLetter in game.gameLetters" 
                letter-info="gameLetter"></letter>
      </div>
      {{positionBoard()}}
    </div>
    <div id="leftButtons" class="buttonContainer" layout="column">
      <md-button class="letterButton" ng-repeat="letter in rightLetters track by $index" 
                 ng-click="letterPressed($index, 'right')">
        {{letter}}
      </md-button>
    </div>
  </div>
</div>
